* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./Images/retro-carpet.webp");
}

.Container {
  width: 960px;
  margin: auto;
  background-color: white;
  background-image: url("./Images/container-background.jpg");
  background-repeat: repeat-y;
  background-size: 960px 750px;

}

/*NAVBAR*/

nav {
  background-color: white;
  color: white;
  padding: 0px 5px 0px 5px;
  background-image: url("./Images/navbar-background.jpg");
}

.WebLogo {
  width: 100px;
  padding-bottom: 10px;
}

.navbar-left {
  display: flex;
}

.links {
  display: flex;
  gap: 35px;
  padding-top: 42px;
  margin-bottom: 32px;
  margin-top: -1px;
}

.link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.link {
  padding-bottom: 50px;
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  border: 3px solid darkorchid;
  background: rgba(153, 50, 204, .2);
  font-size: 18px;
  list-style-type: none;
  -webkit-text-stroke: 1px darkorchid;
}

.link-right {
  margin-left: 150px;
}

.link:hover {
  color: white;
  background-color: darkorchid;
  border-radius: 4px;
}

.link a:hover {
  color: white;
}

.Title {
  margin-top: 39px;
  font-weight: bold;
  -webkit-text-stroke: 1px darkorchid;
}

/*NAVBAR*/

/*HOME AND CATALOG*/

.movie-pick {
  display: flex;
  gap: 100px;
  justify-content: center;
  border: 3px solid darkorchid;
  margin: 50px 200px 0px 200px;
  padding: 10px;
  background: rgba(213, 130, 255, 0.8);
  color: white;
  border-radius: 5px;
  -webkit-text-stroke: 1px darkorchid;
}

.movie-pick-left {
  font-weight: bold;
}

.home-pick-img {
  border-radius: 5px;
}

.link-pick {
  margin-top: 5px;
}

.movie-img {
  margin-right: 35.5px;
  margin-top: 25px;
  border-radius: 5px;
}

.movie-img:hover {
  transform: scale(1.05, 1.05);
}

.title-1 {
  -webkit-text-stroke: 1px darkorchid;
  color: white;
  font-weight: bold;
  text-decoration: 3px underline darkorchid;
}

.title-home-1 {
  margin-left: 32px;
  margin-bottom: -10px;
}

.catalog-title {
  -webkit-text-stroke: 2px darkorchid;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

/*HOME AND CATALOG*/

/*FOOTER*/

footer {
  background-color: darkorchid;
  color: white;
  padding-top: 30px;
}

.box {
  text-align: center;
  padding-bottom: 15px;
}

/*FOOTER*/

/*Blog*/

.post {
  gap: 100px;
  justify-content: center;
  border: 3px solid darkorchid;
  margin: 50px 200px 0px 200px;
  padding: 10px;
  background: rgba(213, 130, 255, 0.8);
  color: white;
  border-radius: 5px;
  -webkit-text-stroke: 1px darkorchid;
  font-weight: bold;
  margin-bottom: 50px;
}

/*Blog*/

/*Login*/

.login-box {
  justify-content: center;
  border: 3px solid darkorchid;
  margin: 50px 200px 0px 200px;
  padding: 10px;
  background: rgba(213, 130, 255, 0.8);
  color: white;
  border-radius: 5px;
  -webkit-text-stroke: 1px darkorchid;
  font-weight: bold;
  margin-bottom: 50px;
  padding: 25px;
}

.login-submit {
  margin-left: 215px;
  margin-top: 25px;
  color: white;
  font-weight: bold;

}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  -webkit-text-stroke: 2px darkorchid;
}

.password {
  margin-left: 10px;
}

/*Login*/